body{
    text-align: center;
    color: blueviolet;
    font-size: 25px;
}

p{
    text-align: left;
    color: black;
}

#Enca{
    text-align: left;
    list-style-type: none;
    color: black;
    }

#Conte{
    font-size: 18px;
    color: blueviolet;
    list-style-type: circle;
}
